.divTitle {
  font-size: 25px;  
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(96, 196, 196);
  margin: 5px;
  padding: 10px;
}
.divCard {
  position: relative;
  border-radius: 5px;
  padding: 25px;
  margin: 10px;
  background-color:cornflowerblue
  
}

  .btnStyle {
      font-size: 25px;
      background-color: rgb(98, 122, 146);
      border: rgb(98, 122, 146);
      border-radius: 5px;
      color: floralwhite;
      padding: 15px;
      margin: 10px;
      
  }

  .inputText {
    padding: 5px;
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .btnBuscarParametro{
    background-color: rgb(98, 122, 146);
    border: rgb(98, 122, 146);
    border-radius: 5px;
    color: floralwhite;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 15px;
  }

  